/* --------------------------------------------------------------------------
 * Indonez      : Yuna - Personal Blog Template
 *  
 * file         : style.css
 * Version 		: 1.0
 * Author       : Indonez Team
 * Author URI   : http://indonez.com
 *
 * Indonez Copyright 2015 All Rights Reserved.
 * -------------------------------------------------------------------------- */
 
/*============================= IMPORT STYLESHEET =============================*/
@import url("reset.css");
@import url("grid.css");
@import url("base.css");
@import url("font-awesome.css");
@import url("linea-icon.css");
@import url("animate.min.css");
@import url("smartmenu.min.css");
@import url("nicescroller.css");
@import url("element.css");
@import url("../demo_switcher/theme-switcher.css");

/* ------------------------------------------------------------------
[TABLE OF CONTENTS]
	1. GLOBAL
	2. FORM
	3. HEADER
	4. HEADER SLIDESHOW
	5. PAGE BLOG
	6. PAGE ABOUT
	7. PAGE CONTACT
	8. PAGE SINGLE
	9. FOOTER
	
------------------------------------------------------------------ */

/*============================= 1. GLOBAL =============================*/
body{
	font: 16px Noto Serif; 
	color:#666;
	line-height:30px;
	background:url("../images/default-pattern.png");
	background-color:#f0f0f0;
	position:relative;
	overflow:auto;

}
a{
	text-decoration:none;
}
h1{
	font-size:40px;
	line-height:50px;
}
h2{
	font-size:32px;
	line-height:42px;
}
h3{
	font-size:24px;
	line-height:34px;
}
h4{
	font-size:20px;
	line-height:30px;
}
h5{
	font-size:18px;
	line-height:28px;
}
h6 {
	font-size:16px;
	line-height:26px;
}
.spacer{
	height:20px;
	clear:both;
	margin:20px 0;
}

#main-container{overflow:hidden;}
#content-wrapper{background:#ebebeb}
#content-wrapper.container {
    padding: 70px 0 70px 0;
}

#main-container {
    position: relative;
    z-index: 10;
    min-height: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
}

body.nav-opened #main-container{
    overflow-x: hidden;
    -webkit-transform: translate3D(-240px, 0,0);
        -ms-transform: translate3D(-240px, 0,0);
            transform: translate3D(-240px, 0,0);
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
}


/*============================= 2. FORM =============================*/
.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea, select {
  display: block;
  width: 100%;
  height:auto;
  padding: 10px 16px !important;
  line-height: 1.33;
  color: #bfbfbf;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #d2d2d2;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-size:13px;
  font-family:"Noto Serif";
}
.button, button, input[type="submit"], .idz-button{
	font-weight:500;
	letter-spacing:1px;
	background: #272727;
	border:0;
	
}
#idz-contact-form{
	margin:0;
	padding:20px 0 0 0;
}
#idz-contact-form fieldset{
	border:0;
	margin:0;
	padding:0;
}
#idz-contact-form .form-control{
	width:35%;
}
#idz-contact-form textarea.form-control{
	width:60%;
}
#idz-comment-form{
	margin:0;
	padding:20px 0 0 0;
}
#idz-comment-form fieldset{
	border:0;
	margin:0;
	padding:0;
}
#idz-comment-form .form-control{
	width:60%;
}
#idz-comment-form textarea.form-control{
	width:80%;
}
/*============================= 3. HEADER =============================*/
#idz-header{
	position:relative;
	z-index:999;
	padding:50px 0 50px 0
}
/* Menu */
.icon-menu {
    padding: 0 15px;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
    transition: all 0.5s ease;
	background:#272727;
	border:solid 1px #272727;
	display:inline-block;
	margin:50px 0 0 0;
}
.icon-menu:hover {
    background: #fff;
}
.icon-menu:focus {
    outline: 0;
}

/* When the navigation is closed */
.nav-closed .icon-menu {
    color: #fff;
}
.nav-closed .icon-menu:hover {
    color: #222;
}

/* When the navigation is closed and there is no cover image */
.nav-closed .no-cover .icon-menu {
    color: #9EABB3;
}
.nav-closed .no-cover .icon-menu:hover {
    color: #555;
}

/* When the navigation is opened */
.nav-opened .icon-menu {
    padding: 0 15px;
    background: #fff;
    color: #222;

}

.nav-opened .icon-menu .word {
    transition: all 0.3s ease;
}
body.nav-opened .nav-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 240px;
    bottom: 0;
    z-index:2;
}

.nav {
    position: fixed !important;
    top: 0;
    right: 0;
    z-index:15;
    width: 240px;
	height:100%;
    opacity:0;
    background:#272727;
    margin-bottom: 0;
    text-align: left;
	padding:20px 0;
    -webkit-transition: -webkit-transform 0.5s ease,
                        opacity 0.3s ease 0.7s;
            transition: transform 0.5s ease,
                        opacity 0.3s ease 0.7s;
}


body.nav-closed .nav {
    -webkit-transform: translate3D(240px, 0, 0);
        -ms-transform: translate3D(240px, 0, 0);
            transform: translate3D(240px, 0, 0);
}

body.nav-opened .nav {
    opacity: 1;
	z-index:15;
    -webkit-transition: -webkit-transform 0.3s ease,
                        opacity 0s ease 0s;
            transition: transform 0.3s ease,
                        opacity 0s ease 0s;
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

.nav-close {
	position: relative;
	display:block;
	font-size: 10px;
	text-align:center;
	padding:20px 0 30px 0;
}

.nav-close:focus {
    outline: 0;
}

.nav-close:before,
.nav-close:after {
    content: '';
    position: absolute;
    top:auto;
    width: 20px;
    height: 1px;
    background: rgb(150,150,150);
    -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease;
}

.nav-close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav-close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav-close:hover:before,
.nav-close:hover:after {
    background: rgb(255,255,255);
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}
.menu-container{
	float:left;
}
nav#main-nav{padding:0 20px; margin-bottom:30px;}
#menu {
	position: relative;
	z-index: 999;
	width: auto;
	list-style-type:none;
	padding:0;
	margin:0;
	list-style: none;
	counter-reset: item;
}
#menu li{
	position:relative; 
	float:none !important;
	margin: 0;
	padding:0;
}

#menu ul{width:12em !important}

#menu li a {
    text-decoration: none;
    line-height: 1.4;
    font-size: 1.4rem;
    display: block;
    padding: 0.6rem 4%;
    overflow: visible;
    white-space: normal;
    text-overflow: ellipsis;
	color:#b8b8b8;
}
#menu li a:after {
    display: inline-block;
    content: "";
    color: rgba(255,255,255,0.2);
    margin-left: 5px;
}

#menu li li a {
	padding:21px 18px;
	text-transform: uppercase;
	text-decoration: none;
	color:#b8b8b8;
	font-size: 13px;
	line-height: 17px;
	letter-spacing:1px;
	overflow:visible;
}
#menu .sub-menu li a{
	text-transform:capitalize;
	padding:12px 18px;
}

#menu .nav-current:before {
    color: #fff;
}
/*#menu .nav-current a:after {
    content: " ";
    border-bottom: #333 1px solid;
    width: 100%;
    height: 1px;
}*/

#menu li.nav-current > a,
#menu a.active,
#menu a:hover,
#menu a:active,
#menu a:focus {
    color: #fff;
}

#menu .sub-menu{
	background:#272727; 
	margin-left:-215px !important;
	margin-top:-40px !important;
}
#menu .sub-menu ul{margin-left:-195px !important; margin-top:-41px !important;}

#menu ul li{border-bottom:solid 1px #333;}
#menu ul li:last-child{border:0}

.sub-arrow:after{
	font-family: "FontAwesome";
	font-size:10px !important;
	content:"\f067";
	display:block;
	position:absolute;
	top:8px;
	font-weight:100;
}
#menu .sub-menu .sub-arrow:after{
	top:0px;
}

.nav aside{margin-bottom:30px;}
.nav aside:last-child{margin-bottom:0;}
#rightsidebar{
	height:650px;
}
#rightsidebar aside{
	margin-bottom:57px;
	}
#rightsidebar .widget_title{
	text-align:left;
	font: 22px Noto Serif;
	color:#b8b8b8;
	text-align:center
}
#rightsidebar .widget_title:before{
	content:"";
	height:1px;
	display:block;
	background:#333;
	margin:0 auto 10px auto;
	position:relative;
}
#rightsidebar ul{
	list-style:none;
	margin:0px;
}
#rightsidebar li{
	padding:3px 0;
}
#rightsidebar li a{
	text-decoration:none;
	font-family:"Merriweather";
	font-weight:300;
	color:#b8b8b8;
	font-size:14px;
}

#rightsidebar .blog-author{
	padding:0;
}
#rightsidebar .blog-author img{
	width:160px;
	height:160px;
	border:solid 5px #ffffff;
	border-radius:100px;
	margin:0 auto;
	display:block;
}
#rightsidebar .text-widget{
	font-family:"Merriweather";
	font-weight:300;
	font-size:14px;
	color:#555555;
	text-align:center;
	padding:20px 0 27px 0;
}
#rightsidebar .social-content{
	list-style-type:none;
	padding:0 0 40px 0;
	margin:0;
	text-align:center;
	font-size:21px;
}
#rightsidebar .social-content li {
	display:inline-block;
	padding-left:19px;
}
#rightsidebar .social-content li  a{
	color: #bdbdbd;
}
#rightsidebar .social-content li  a:hover{background:transparent !important}
#rightsidebar .social-content li i{font-size:22px;}

#sm-container{position:relative;}
.search-panel{width:100%; clear:both; position:absolute; top:110px;}
.search-panel fieldset{padding:0; margin:0; border:0;}
.search-panel #searchform{
	position:relative;
	padding:18px 20px 18px 0 !important;
	margin:0;
	background:#272727; 
	border:solid 1px #272727; 
}
.search-panel #s {
	background:transparent;
	border:0;
	margin:0;
	padding:0 27px !important;
	text-transform:uppercase;
	font-family:"Raleway" sans-serif;
	letter-spacing:1px;
}
.search-panel #s::-webkit-input-placeholder { color:#bfbfbf;}
.search-panel #s::-moz-placeholder{ color:#bfbfbf;}
.search-panel #s:-ms-input-placeholder {color:#bfbfbf;}

/* for responsive menu */
.menu-trigger{
  background:transparent;
  height: 50px;
  width: 50px;
  display: inline-block;
  float:none;
  text-align: center;
  position:relative;
  margin-left:20px;
}
.menu-trigger i {
  font-size: 28px;
  line-height: 50px;
  color: #fff;
}
.menu-trigger.active {
  background:transparent;
}

.top-search-icon{float:right; margin:0 35px 0 0}
.top-search-icon i{cursor:pointer; color:#fff; font-size:24px; line-height:50px}

/* Logo */
.logo-container{
	padding-left:6px;
	display:block;
	background:url("../images/logo.png")no-repeat;
	font-family:"Playfair Display";
	font-size:64px;
	color:#ffffff;
	min-height:140px;
	width:300px;
	margin:0 auto;
}
.logo-container h1{
	padding-top:37px;
}
.logo-container h1, .logo-container h1 a{
	font-family:"Playfair Display";
	font-size:64px;
	color:#ffffff;
	font-weight:400;
	text-decoration:none;
	display:inline-block;
}
.logo-container span {
	font-family:"Playfair Display";
	font-size:16px;
	color:#666666;
	display:inline-block;
	padding-left:3px;
}

/* Social Icon */
.header-info-container{
	float:none;
	text-align:left;
}
.social-header{
	list-style-type:none;
	padding:0;
	margin:51px 0 0 0;
}

.social-header li {
	display: inline;
	padding:0 0 0 5px;
}
.social-header li:last-child {
	margin-right: 0;
}

.social-header a {
	color: #3b3b3b;
	height: 32px;
	width: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}

.social-header li i{font-size:19px;}

.social-header a:hover {
	color: #fff !important;
}

/*============================= 4. HEADER SLIDESHOW =============================*/
#slideshow-container {
	padding:0;
	margin:50px 0 -350px 0;
	width:100%;
}

#slideshow-container.slider-small{
	margin:50px 0 -50px 0;
}

.idz-slideshow-carousel{
	background:#272727;
	position:relative;
	width:1300px;
	height:600px;
	margin:0 auto;
	margin-bottom:0 !important;
	list-style-type:none;
	overflow:hidden;
}

#slideshow-container.slider-small .idz-slideshow-carousel{
	height:300px;
}

.idz-slideshow-carousel li{
	padding:0;
	margin:0;
}

.idz-slideshow-carousel h1{
	font-size:32px;
	color:#fff;
	position:absolute;
	top:70px;
	right:80px;
	left:80px;
}

.idz-slideshow-carousel h1:before{
	content:'';
	width:80px;
	height:1px;
	background:#e2e9ec;
	display:block;
	margin-bottom:13px;

}

.idz-slideshow-carousel img{opacity:0.6}

.slideshow-overlay{
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	top:0;
	background:#000;
}

.idz-slideshow-carousel .owl-controls{
	position:absolute;
	margin:0;
	bottom:26px;
	right:26px;

}

.idz-slideshow-carousel .owl-controls .owl-page span{
	margin:7px;
	width: 15px;
	height: 15px;
	background:transparent;
	border:solid 2px #fff
}

.idz-slideshow-carousel.owl-theme .owl-controls .owl-page.active span{
	background:#fff;
}

.idz-slideshow-carousel.owl-theme .owl-controls .owl-page{
	display:block;

}


/*Post Slider*/
.idz-slideshow-post{
	background:#272727;
	position:relative;
	width:1300px;
	height:600px;
	margin:0 auto;
	margin-bottom:0 !important;
	list-style-type:none;
	overflow:hidden;
}

#slideshow-container.slider-small .idz-slideshow-post{
	height:300px;
}

.idz-slideshow-post .column{padding:0;}
.idz-postslide-row{
	background:#272727;
	position:relative;
	height:300px;
	overflow:hidden;
}

.idz-slideshow-post img{opacity:0.6}

.slider-entry-meta{
	position:absolute;
	top:70px;
	right:80px;
	left:80px;
}
#slideshow-container.slider-small .slider-entry-meta{
	top:55px;
}

.idz-slideshow-post h1{
	font-size:32px;
	line-height:38px;
	margin-bottom:4px;
	color:#fff;
}

.idz-slideshow-post h1 a, .idz-slideshow-post h1 a:visited{
	color:#fff;
}

.idz-slideshow-post h1:before{
	content:'';
	width:80px;
	height:1px;
	background:#e2e9ec;
	display:block;
	margin-bottom:13px;

}

.slider-entry-meta span{
	font-size:11px;
	font-family:"Raleway", san-serif;
	color:#fff;
	display:block;
	margin-bottom:21px;
}

.slider-button{
	font-size:10px;
	font-family:"Raleway", san-serif;
	color:#fff;
	line-height:26px;
	display:inline-block;
	padding:6px 30px;
	border:solid 1px #fff;
	text-transform:uppercase;
	letter-spacing:1px;
}


.idz-slideshow-post .owl-controls{
	position:absolute;
	margin:0;
	bottom:45px;
	left:600px;

}

.idz-slideshow-post .owl-controls .owl-page span{
	margin:7px;
	width: 15px;
	height: 15px;
	background:transparent;
	border:solid 2px #fff
}

.idz-slideshow-post.owl-theme .owl-controls .owl-page.active span{
	background:#fff;
}

.idz-slideshow-post.owl-theme .owl-controls .owl-page{
	display:block;

}

.slider-post{position:relative;}

.has-slider #content-wrapper.container {
    padding: 300px 0 70px 0;
}
.has-slider.has-slider-small #content-wrapper.container {
    padding: 70px 0 70px 0;
}

/*============================= 5. PAGE BLOG =============================*/
.idz-article-post{
	background:#ffffff;
	padding:62px 0px 82px 0px;
	margin-bottom:38px;
	box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

body.single-page .idz-article-post{
	margin-bottom:0;
}
.idz-article-page{
	background:#ffffff;
	padding:62px 0px 62px 0px;
	box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.05);
}
.idz-article-page p:last-child{
	margin-bottom:0;
}
.idz-article-post.about-me{
	margin:0;
	padding:0;
}
.idz-article-post.format-quote{padding:0}
.blog-quote{
	padding:0;
	text-align:center;
	background:#2d3135;
}
.quote-note {
    position: relative;
    padding: 60px 35px;
}
.quote-note blockquote{
	font-family:"Playfair Display";
	font-size:22px;
	color:#ffffff;
	text-align:center;
}
.quote-note i {
    font-size: 30px;
    color: #808080;
    display: block;
    margin-bottom: 20px;
}
.quote-note blockquote:before, .quote-note blockquote:after{background:transparent; padding:0; margin:0}
.quote-note blockquote p{
	padding-bottom:9px;
}
.quote-note blockquote cite:before{
	background-color:#808080;
}
.quote-note blockquote cite{
	font-size: 17px;
    font-style: normal;
    position: relative;
    color: #808080;
    padding-left: 24px;
}
.idz-blog-info {
    margin: 0 0 15px 0;
}
.idz-blog-info .image-blog-info {
    font-size: 34px;
    color: #d4d4d4;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 80px;
}
.idz-entry-content{
	position:relative;
}
.idz-entry-title{
	font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 8px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    color: #2d3135;
    padding: 0 80px;
}
.idz-entry-title:before{
	content:"";
	width:80px;
	height:1px;
	display:block;
	position:relative;
	margin-bottom:25px;
	background:#e3e3e3;
	
}
.idz-entry-title a{
	text-decoration:none;
	color:#2d3135;

}
.idz-entry-title a:hover{
	color:#f5524f;
}

.idz-entry-meta{
	padding:0 80px;
}
.post-info{
	font-size: 11px;
    font-family: "Raleway",san-serif;
    color: #bfbfbf;
    margin: 0;
    text-transform: uppercase;
}
.post-info li{
	display:inline-block;
	padding-right:13px;
}
.post-info li span{
	color:#bfbfbf;
}
.post-info li a{
	text-decoration:none;
	font-family:"Raleway";
	font-size:11px;
	color:#bfbfbf;
}
.idz-the-content{
	margin: 30px 80px 0 80px;
    position: relative;
	
}
.idz-the-content p{
	margin-bottom:40px;
}
.more-link{
	background:#f5524f;
	font-family:"raleway";
	color:#ffffff;
	display:inline-block;
	padding:6px 32px;
	text-decoration:none;
	float:right;
	font-size:10px;
	line-height:26px;
	text-transform:uppercase;
	letter-spacing:1px;
	position:relative;
	z-index:10;
}
.more-link:hover{
	background:#6e6e6e;
}
.entry-social-share{
	list-style-type:none;
	margin:0;
	z-index:5;
	position:relative;
}
.post-line{
	background:#e7e7e7;
	width:100%;
	height:1px;
	position:relative;
	bottom:-20px;
	z-index:1;
}
.entry-social-share li{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin-right:7px;
}
.entry-social-share li i{
	font-size:16px;
	background:#ffffff;
	color:#e7e7e7;
	line-height:34px;
	width:36px;
	height:36px;
	border:solid 1px #e7e7e7;
	border-radius:100px;
}
.idz-article-post.format-link{
	text-align:center;
	background:url("../images/featured_link.jpg")no-repeat;
	padding:59px 0;
}
.link-note a{
	text-decoration:none;
	font-size:22px;
	color:#ffffff;
}
.blog-link i {
    color: #7a7b7c;
    font-size: 30px;
    padding: 0 0 20px 0;
    display: block;
}

/* image post */
.blog-carousel {
	list-style-type:none;
	min-height:188px; /* for masonry blog */
	margin:30px 0 0 0;
	position:relative;
}

.blog-carousel li{background:#000;}
.blog-carousel li img{opacity:0.6}
.page-fullwidth .format-image .blog-carousel li img {
    width: 100%;
}

.blog-carousel .owl-controls{
	position:absolute;
	margin:0;
	bottom:26px;
	right:26px;

}

.blog-carousel .owl-controls .owl-page span{
	margin:7px;
	width: 15px;
	height: 15px;
	background:transparent;
	border:solid 2px #fff
}

.blog-carousel.owl-theme .owl-controls .owl-page.active span{
	background:#fff;
}

.blog-carousel.owl-theme .owl-controls .owl-page{
	display:block;

}
.idz-video-post {
	margin-top:30px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 40px;
    display: block;
}
.idz-video-post iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.idz-audio-post{
	margin-top:30px;
}

.idz-audio-frame{width:100%; height:150px;}

/* gallery post */
#gallery{
	width:100%;
	margin-top:30px;
}
.ug-tiles-wrapper{
	margin:0;
}

#gallery-tiled, #gallery-slideshow{
	margin-bottom:30px;
}
#gallery-slideshow{
	max-width:100%!important;
}


.idz-article-post.format-text.post-info{
	padding-bottom:100px;
}
.blog-pagination{
	width:100%;
	height:100%;
}
.nav-previous.alignleft{
	float:left;
	padding-left:1px;
}
.navspan1{
	display:inline-block;
	float:left;
	background:#272727;
	width:85px;
	height:39px;
	text-align:right;
	display:inline-block;
	padding:6px 17px 0 0;
	font-size:12px;
	color:#f0f0f0;
}
.navspantext{
	display:inline-block;
	padding-left:13px;
}
.navspan2{
	display:block;
	font-family:"Raleway";
	font-size:11px;
	color:#a1a1a1;
	line-height:11px;
	text-transform:uppercase;
}
.navspan3{
    color: #2d3135;
    font-size: 24px;
	font-family: "Playfair Display";
    line-height: 24px;
    font-weight: 400;
    display: block;
}
.nav-next.alignright .navspan1{
	float:right;
}
.navspantext{
	padding-right:13px;
}
.widgets.widget_text{
	padding:0;
	margin:0;
}
.blog-text p{
	font-family:"Playfair Display";
	font-size:22px;
	color:#a1a1a1;
	text-align:center;
	padding-top:30px;
}
.blog-text:before{
	content:"";
	width:119px;
	height:1px;
	display:block;
	background:#e3e3e3;
	margin:0 auto;
	position:relative;
}
.blog-text:after{
	content:"";
	width:119px;
	height:1px;
	display:block;
	background:#e3e3e3;
	margin:0 auto;
	position:relative;
	margin-bottom:39px;
}

/*masonry blog*/
.idz-grid-sizer, .idz-masonry-item{ width: 31%; }
.page-withsidebar .idz-grid-sizer, .page-withsidebar .idz-masonry-item{ width: 48%; }
.idz-gutter-sizer{width:3.5%}

.idz-masonry-col .idz-article-post{padding:30px 0 40px 0; margin-bottom:45px;}
.idz-masonry-col .idz-article-post.format-quote{padding:0;}
.idz-masonry-col .idz-entry-title, .idz-masonry-col .idz-entry-meta{padding-left:30px; padding-right:30px}
.idz-masonry-col .idz-entry-title{text-align:center;}
.idz-masonry-col .idz-entry-title:before{margin:0 auto 20px auto}
.idz-masonry-col .idz-entry-title{font-size:20px; line-height:26px;}
.idz-masonry-col .post-info{font-size:10px; line-height:20px;}
.idz-masonry-col .idz-the-content, .idz-masonry-col .format-gallery .idz-the-content{margin-left:30px; margin-right:30px}
.idz-masonry-col .format-gallery .main-entry-content{margin-left:0; margin-right:0}
.idz-masonry-col .idz-entry-content p:last-child{margin-bottom:0px;}
.idz-masonry-col .idz-entry-content .idz-button{position:relative; float:none; bottom:auto; margin:0 auto;  display:block;}
.idz-masonry-col .idz-entry-view-like:before{min-width:100%; border:0}
.idz-masonry-col .idz-entry-content .tiled-gallery img{margin:0 0 2px 0 !important}
.idz-masonry-col .blog-link-bgimg img{height:100% !important}
.page-fullwidth .idz-masonry-col .idz-entry-view-like:before{min-width:100%;}
.page-fullwidth .idz-entry-view-like:before{min-width:980px;}
.idz-masonry-col .idz-entry-view-like{margin-top:0 !important;}
.idz-masonry-col .post-line{background:transparent;}
.idz-masonry-col .entry-social-share{margin-top:30px; text-align:center;}

.idz-masonry-item .post-info {display:none;}
.idz-masonry-item .attach-link{padding:40px 10px}
.idz-masonry-item .link-note a{font-size:14px;}
.idz-masonry-item .blog-link{height:auto;}

.idz-masonry-item .idz-entry-view-like{text-align:center !important; float:none;}
.idz-masonry-item .idz-entry-content .tiled-gallery{min-height:300px;}

.idz-masonry-item .idz-blog-info{text-align:center;}


/*aside*/
.widget_area{
	padding-top:63px;
}
.widget_area aside{
	margin-bottom:57px;
}
.widget_title{
	text-align:center;
	font-family:"Playfair Display";
	font-size:22px;
	color:#2d3135;
	padding-bottom:13px;
}
.widget_title:before{
	content:"";
	width:80px;
	height:1px;
	display:block;
	background:#e3e3e3;
	margin:0 auto;
	position:relative;
	margin-bottom:14px;
}
.text-widget{
	font-family:"Merriweather";
	font-weight:300;
	font-size:14px;
	color:#555555;
	text-align:center;
	padding:20px 0 27px 0;
}
.categaries-post{
	list-style:none;
	margin:0px;
}
.categaries-post li{
	border-bottom:solid 1px #dedede;
	padding:6px 0 9px 0;
}
.categaries-post li:last-child{
	border:none;
}
.categaries-post li span{
	float:right;
	font-family:"Merriweather";
	font-weight:300;
	font-size:12px;
	color:#fc5651;
}
.categaries-post li:before{
	font-family:"FontAwesome";
	content:"\f105";
	padding:0 15px 0 10px;
}
.categaries-post li a{
	text-decoration:none;
	font-family:"Merriweather";
	font-weight:300;
	color:#555555;
	font-size:14px;
}
.popular-post{
	margin:0;
}
.popular-post img{
	float:left;
	padding-right:28px;
}
.popular-post li{
	clear:both;
	border-bottom:solid 1px #dedede;
	list-style:none;
	padding:16px 0 19px 0;
}
.popular-post li:last-child{
	border:none;
}
.popular-post a{
	font-family:"Playfair Display";
	font-size:16px;
	color:#555555;
	text-decoration:none;
}
.popular-post span{
	display:block;
	font-family:"Raleway";
	font-size:11px;
	color:#f5524f;
	padding-top:3px
}
.idz-tag-cloud {
	font-size:13px;
	width:100%;
	text-transform:uppercase
}

.idz-tag-cloud a, .idz-tag-cloud a:visited {
	font-family:"Raleway", san-serif;
	font-size: 10px;
	padding: 0px 9px 1px 9px;
	background: #fff;
	text-transform: uppercase;
	color: #a3a3a3;
	margin-right: 8px;
	margin-bottom: 8px;
	display: inline-block;
}

.idz-tag-cloud a:hover {color: #fff;background:#f5524f }

.instagram-post{
	list-style:none;
	margin:0;
}
.instagram-post li{
	display:inline-block;
	padding-bottom:4px;
}

/*=================== 6. PAGE ABOUT ===================*/

.idz-page-container{
	background:#ffffff;
	height:auto;
	padding:63px 0 63px 0;
	/*margin:28px 0 28px 0;*/
}
.idz-page-container p:last-child{
	margin-bottom:0;
}
.idz-page-container:after,.idz-page-container:before{
	display:table;
	content:"";
	clear:both;
}
.page_title{
	text-align:center;
	font-family:"Playfair Display";
	font-size:32px;
	color:#2d3135;
	padding-bottom:16px;
}
.page_title:before{
	content:"";
	width:80px;
	height:1px;
	display:block;
	background:#e3e3e3;
	margin:0 auto;
	position:relative;
	margin-bottom:19px;
}
.before-page-content{
	margin-bottom:36px;
}
.page-content{
	padding:0 80px 6px 80px;
}
.signature-images img{
	margin:0 auto;
	display:block;
	padding-bottom:26px;
}
.social-page{
	list-style-type:none;
	margin:0;
	text-align:center;
}
.social-page li {
	display:inline-block;
	padding-left:19px;
	
}
.social-page li a{
	color:#8d8d8d;
	
}
.social-page li a:hover{background:transparent !important}
.social-page li  i{
	font-size:22px;
}

/*=================== 7. PAGE CONTACT ===================*/
.map-contact{
	position:relative;
	width:100%;
	height:auto;
	margin-bottom:36px;
}	
	
#map.googlemap{
	width:100%;
	height:425px;
}
.address-content{
	position:absolute;
	background:#ffffff;
	bottom:0px;
	padding:17px 31px 5px 35px;
}
.address-content .map-logo{
	padding:0;
	float:left;
}
.map-logo:before{
	content:"";
	width:1px;
	min-height:53px;
	float:right;
	background:#e3e3e3;
	margin:0 23px;
}
.address{
	color:#bfbfbf;
	font-size:11px;
	float:right;
	padding:0px;
	overflow:hidden;
	line-height:25px;
	font-family:"Raleway";
	font-size:11px:;
	color:#bfbfbf;
}

#idz-contact-form{
	margin:0;
}
#idz-contact-form label.error {
    border: 0;
    background: transparent;
    color: #f00;
    font-size: 11px;
	margin-bottom:0;
}
.contact-form-fieldset p:last-child{
	margin-bottom:0;
}
.successContainer{
	color: #f00;
}

/*=================== 8. PAGE SINGLE ===================*/
.author-post{
	padding: 50px 80px 50px 80px;
	width:100%;
}
.author-post img{
	float:left;
	clear:both;
}
.content-personal{
	padding-left:24px;
	overflow:hidden;
}
.title-post a{
	text-decoration:none;
	font-family:"Playfair Display";
	font-size:18px;
	color:#2d3135;
}
.content-personal p{
	color:#666666;
	padding-top:11px;
}
.social-status-blog{
	list-style-type:none;
	margin:0;
}
.social-status-blog li{
	display:inline-block;
}
.social-status-blog li a:hover{background:transparent !important}
.social-status-blog span{
	padding:0 20px 0 8px;
	font-size:11px;
	font-family:"Raleway";
}
.social-status-blog li i{
	color:#bdbdbd;
	font-size:22px;
}
.related-post-container{
	width:100%;
	float:left;
	clear:both;
	padding:0 80px 50px 80px;
}
.related-post{
	list-style-type:none;
	padding:0;
	margin:0;
}
.related-post-title {
	font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.related-post li{
	display:inline-block;
	padding:0 13px 0 0;
	list-style-type:none;
	margin-bottom:20px;
	
}
.related-post li:last-child{
	padding-right:0;
}
.img-post-coloum img{
	padding-bottom:15px;
}
.img-post-coloum p{
	font-family:"Raleway";
	font-size:11px;
	color:#bdbdbd;
	padding:0;
	margin:0;
}
.img-post-coloum a{
	font-family:"Playfair Display";
	font-size:16px;
	color:#555555;
	text-decoration:none;
}
.comments-post {
	padding: 0 80px 26px 80px;
	clear:both;
}
.comments-post a{
	text-decoration:none;
	font-family:"Playfair Display";
	font-size:16px;
	color:#555555;
}
.comments-title {
	font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.commentlist {
	list-style-type:none;
	margin:0;
	padding:0;
	
}
.commentlist li {
	margin:0 0 20px 0;
}
.post-content-comments{
    overflow: auto;
}
.img-logo-comments {
    float: left;
    width: auto;
	padding-top:5px;
}
.comment-container {
    margin:0 0 0 80px;
	
}
.commentlist .children{
	padding:40px 0 0 0;
}
.comment-text{
	border-bottom:solid 1px #e3e3e3;
	padding-bottom:40px;
}
.personal-comments{
	display:inline-block;
	font-family:"Noto Serif";
	font-size:18px;	
	color:#555555;
	margin:0;
}
.comment-container a{
	float:right;
	background:#aaaaaa;
	font-family:"Raleway";
	color:#ffffff;
	display:inline-block;
	padding:2px 10px;
	text-decoration:none;
	font-size:10px;
	line-height:26px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.comment-time{
	font-family:"Raleway";
	font-size:11px;
	color:#bdbdbd;
	margin:0 0 8px 0;
	display:block;
}
.comment-container p{
	margin:0;
}
.comment-container-replay:before{
	content:"";
	width:509px;
	height:1px;
	display:block;
	background:#e3e3e3;
	float:right;
	position:relative;
	margin-bottom:39px;
}
.comment-container-replay:after{
	content:"";
	width:430px;
	height:1px;
	display:block;
	background:#e3e3e3;
	float:right;
	position:relative;
}
.comment-container-replay p{
	margin-bottom:40px;
}
.comments-title-form{
	font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.comment-form {
	padding:0 80px;
}
.input-comment{
	margin-top:34px;
}
.input-comment input{
	background:#ffffff;
	width:345px;
	height:43px;
	margin:0 0 18px 0;
	font-size:13.01px;
	font-family:"Noto Serif", serif;
	border:solid 1px #d2d2d2;
}
.input-comment textarea{
	width:588px;
	height:175px;
	margin:0 0 18px 0;
	background:#ffffff;
	font-size:13.01px;
	font-family:"Noto Serif", serif;
	border:solid 1px #d2d2d2;
}
.link-button-comment{
	background:#272727;
	font-family:"raleway";
	color:#ffffff;
	display:inline-block;
	padding:7px 34px;
	text-decoration:none;
	font-size:10.01px;
	line-height:26px;
	text-transform:uppercase;
	letter-spacing:1px;
}

/*============================= 9. FOOTER =============================*/
#footer-bottom{
	background:#272727;
	width:100%;
	height:auto;
	text-align:center;
	clear:both;
	padding:80px 0 49px 0;
}
.footer-logotext{
	background:url("../images/logofooter.png")no-repeat;
	min-height:100px;
	margin:0 auto;
	width:111px;
	padding:40px 0 50px 0;
	letter-spacing:1px;
}
.footer-logotext a{
	text-decoration:none;
	font-family:"Playfair";
	font-size:45.12px;
	color:#272727;
}
.social-footer{
	list-style-type:none;
	padding-bottom:28px;
	margin:0;
	text-align:center;
}

.social-footer li {
	display: inline;
	padding:0 0 0 5px;
}
.social-footer li:last-child {
	margin-right: 0;
}

.social-footer a {
	color:#8d8d8d;
	height: 32px;
	width: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}

.social-footer li i{font-size:19px;}

.social-footer a:hover {
	color: #fff !important;
}


.facebook-bgcolor:hover {
	background: #3b5998 !important;
}

.flickr-bgcolor:hover {
	background: #ff1981 !important;
}

.skype-bgcolor:hover {
	background: #00aff0 !important;
}

.github-bgcolor:hover {
	background: #171515 !important;
}

.youtube-bgcolor:hover {
	background: #e83c36 !important;
}

.vimeo-bgcolor:hover {
	background: #20b9eb !important;
}

.tumblr-bgcolor:hover {
	background: #2c4762 !important;
}

.behance-bgcolor:hover {
	background: #0398fd !important;
}

.vk-bgcolor:hover {
	background: #4d6e92 !important;
}

.xing-bgcolor:hover {
	background: #cdd60f !important;
}

.soundcloud-bgcolor:hover {
	background: #ff6600 !important;
}

.twitter-bgcolor:hover {
	background: #33ccff !important;
}

.pinterest-bgcolor:hover {
	background: #c92619 !important;
}

.dribbble-bgcolor:hover {
	background: #EA4C89 !important;
}

.googleplus-bgcolor:hover {
	background: #DD4B39 !important;
}

.linkedin-bgcolor:hover {
	background: #006699 !important;
}

.instagram-bgcolor:hover {
	background: #9c7c6e !important;
}

.stumbleupon-bgcolor:hover {
	background: #e64011 !important;
}

.mail-bgcolor:hover {
	background: #578ad6 !important;
}

.rss-bgcolor:hover {
	background: #f26109 !important;
}


.footer-copyright{
	text-align:center;
	font-size:13px;
	color:#5f5f5f;
}

#scrollUp{
	bottom:50px;
	right: 50px;
	width: 64px;
	height: 64px;
	font-size: 17px;
	line-height: 64px;
	display:block;
	color: #fff;
	text-align: center;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	border-radius:100px;
	cursor:pointer;
	position:fixed;
	background: #f5524f;
}
#scrollUp i {position: relative;}