

/* Banner */
.banner .contentBanner-coating {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black-100-opacity-44);
    z-index: 3;
    padding: 6rem;
}

.banner .banner-hr {
    margin-bottom: 1.5rem;
    width: 6rem;
    border: none;
    height: 0.01rem;
    background: var(--white-100-opacity-80);
}

.banner h1 {
    line-height: 2.7rem;
}

.banner .day {
    padding: 0.5rem 0 2rem 0;
    font-size: 0.8rem;

}

.banner .btnBanner {
    background-color: var(--black-100-opacity-0);
    color: var(--white-100-opacity-80);
    border: var(--white-100-opacity-80) solid 1px;
    padding: 1.3rem 3.7rem;
    font-size: 0.8rem;
}

/* Content */
.content-item .blog img {
    width: 100%;
    padding-bottom: 5rem;
}

.content-item .blog .blog-item {
    margin-bottom: 2rem;
    background-color: var(--white-100);
    color: var(--black-60);
    box-shadow: 0 0 0.4rem var(--black-100-opacity-10);
}

.content-item .blog .blog-item i {
    padding: 4rem 0 1rem 6rem;
    font-size: 2.7rem;
    color: var(--black-100-opacity-20);
}

.content-item .blog .blog-item hr {
    width: 6rem;
    margin-left: 6rem;
    margin-top: 0.7rem;
    border: none;
    height: 0.1rem;
    background: var(--black-10);
}

.content-item .blog .blog-item h1 {
    padding: 2rem 6rem;

}

.content-item .blog .blog-item .note {
    display: flex;
    padding: 0 6rem;
    font-size: 0.8rem;

}

.content-item .blog .blog-item .note span {
    margin-right: 1.3em;
    margin-bottom: 4rem;
    color: var(--black-10);
    font-size: 1em;
}

.content-item .blog .blog-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.7rem;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--black-60);
    font-size: 1.2rem;
    padding: 0 6rem;
}


.content-item .blog .blog-item .magnify {
    text-align: center;
    font-size: 4rem;
    line-height: 3rem;
    color: var(--black-60);
    float: left;
    margin: 1.3rem 1rem 0 0;
    padding: 0;
}

.content-item .blog .blog-item .interact {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.content-item .blog .blog-item .interact .interact-ul {
    position: relative;
    width: 100%;
    margin-left: 6rem;
}

.content-item .blog .blog-item .interact .interact-ul ul {
    position: absolute;
    display: flex;
}

.content-item .blog .blog-item .interact .interact-ul hr {
    position: absolute;
    top: 46%;
    width: 100%;
    z-index: 0;
    margin-left: 0;
    margin-top: 0;
    border: none;
    height: 0.1rem;
    background: var(--black-10);

}

.content-item .blog .blog-item .interact-ul li {
    list-style: none;
    padding-right: 0.8rem;
}

.content-item .blog .blog-item .interact li i {
    color: var(--black-10);
    border: var(--black-10) solid 0.1rem;
    padding: 0.9rem 0.8rem 0.7rem 0.8rem;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #ffffff;
}

.content-item .blog .blog-item .interact #shareIcon {
    padding: 0.9rem 0.9rem 0.7rem 0.8rem;
}

.content-item .blog .blog-item .interact #eyeIcon {
    padding: 0.8rem 0.7rem 0.7rem 0.7rem;

}


.content-item .blog .blog-item .interact .interact-btn {
    color: var(--white-100-opacity-80);
    background-color: var(--red-50);
    font-size: 0.9rem;
    width: 25.9rem;
    height: 3rem;
    border: none;
    margin-right: 6rem;


}

/* Blog list */

.blog-list .blog-list-categories .categoriesList ul {
    padding: 2.5rem 0 0 0.8rem;

}

.blog-list .blog-list-categories .categoriesList ul hr {
    width: 100%;
    height: 0.1rem;
    border: none;
    background: var(--black-10);
    margin: 0;
}

.blog-list .blog-list-categories .categoriesList ul li {
    padding: 1.6rem 0.7rem;
    list-style: none;
    font-size: 1.2rem;
}

.blog-list .blog-list-categories .categoriesList span {
    float: right;
    color: var(--red-50);
}

.blog-list .blog-list-categories .categoriesList li i {
    color: var(--black-60);
    padding-right: 1.5rem;
}

.blog-list .blog-list-popular .popularChild {
    display: flex;
}

.blog-list .blog-list-popular .popularChild .popularChild-text {
    padding-left: 2.3rem;
}

.blog-list .blog-list-popular .popularChild .popularChild-text .popularChild-text-title {
    line-height: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    color: var(--black-60);
    
}

.blog-list .blog-list-popular .popularChild .popularChild-text p {
    color: var(--red-50);
    font-size: 1rem;
}

.blog-list .blog-list-popular .popularChild-img img {
    display: block;
}

.blog-list-popular hr {
    width: 100%;
    margin: 2rem 0;
    border: none;
    height: 0.1rem;
    background: var(--black-10);
}

.blog-list .blog-list-tags .tags-span {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    .span-child {
        margin: 2rem 1rem 0 0;
        padding: 0.4rem 1rem 0.7rem 1rem;
        background-color: var(--white-100);
        vertical-align: baseline;
    }

    .span-child a {

        text-decoration: none;
        color: var(--black-60);
        font-size: 0.9rem;
    }

    .span-child:hover {
        background-color: var(--red-20);
    }
}