@media only screen and (max-width: 600px) {

    /* Header */
    .header .header-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .mediaIcon {
        padding-left: 0;
    }

    .header .mediaIcon li {
        margin-left: 3rem;
    }

    .header .mediaIcon i {
        font-size: 1.5rem;
    }

    .header .slideBar {
        padding-right: 0;
    }

    .header .logo {
        width: 13rem;
        margin: 3rem 0rem 3rem 2rem;
    }

    .header .logo img {
        width: 13rem;
    }

    .header .logo span {
        font-size: 5rem;
    }

    /* Banner */
    .banner .banner-items {
        height: 30rem;
    }

    .banner .btnBanner,
    .banner .day,
    .banner .banner-hr {
        display: none;
    }

    .banner .contentBanner-coating {
        padding: 3.5rem 2rem;
    }

    .banner .banner-items .contentBanner-right .contentBanner-right-text {
        padding: 3.5rem 2rem;
    }

    .banner .banner-items .contentBanner-right-text .text {
        display: none;
    }

    /* content */
    /* blog item */
    .content-item {
        display: block;
        padding: 4rem 2rem;
    }

    .content-item .blog {
        width: 100%;
    }

    .content-item .blog img {
        padding: 0rem 0rem 3rem 0;
    }

    .content-item .blog .blog-item i {
        padding: 5rem 0 1rem 3rem;
        font-size: 3.5rem;
    }

    .content-item .blog .blog-item hr {
        margin: 1rem 0 0 3rem;
        width: 8rem;
    }

    .content-item .blog .blog-item h1 {
        padding: 3rem 3rem;
    }

    .content-item .blog .blog-item .note {
        font-size: 1rem;
        width: 100%;
        padding: 0 3rem 0 3rem;
    }

    .content-item .blog .blog-item .note span {
        font-size: 1rem;
    }

    .content-item .blog .blog-item p {
        padding: 0 3rem;
    }

    .content-item .blog .blog-item .interact {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 4rem 3rem 8rem 3rem;

    }

    .content-item .blog .blog-item .interact .interact-ul {
        display: block;
        margin-left: 0;
        padding-top: 3rem;
    }

    .content-item .blog .blog-item .interact .interact-ul hr {
        display: none;
    }

    .content-item .blog .blog-item .interact .interact-btn {
        width: 100%;
        margin: 0;
    }

    .content-item .blog .blog-item .interact .interact-ul ul {
        position: relative;
        justify-content: center;
    }

    .content-item .blog .blog-item .interact-ul li {
        padding-right: 2rem;
    }

    .content-item .blog-item-famousQuote {
        padding: 6rem 3rem 6rem 3rem;
    }

    .content-item .blog-item-URL {
        height: 20rem;
    }

    .blog .blog-item-entries .older-p,
    .blog .blog-item-entries .newer-p {
        display: none;
    }

    .content-item .blog-list {
        width: 100%;
        padding-left: 0;
    }

    /* setting-fixed */
    .setting-fixed {
        top: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .setting-fixed i {
        font-size: 1.5em;
    }
    .comeBack{
        display: none;
    }
}