* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    position: relative;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color: #ebebeb;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 16.7% 40px 16.7%;
}

.header li {
    list-style: none;
    margin-left: 1em;
}

.mediaIcon {
    padding-left: 3.2em;
}

.slideBar {
    padding-right: 3.2em;
}

.slideBar,
.mediaIcon {
    display: flex;
    align-items: center;
}

.slideBar ul,
.mediaIcon ul {
    display: flex;
    /* flex-direction: center;
    align-items: center; */
}

.logo {
    position: relative;
    width: 30%;
}

.logo p {
    position: absolute;
    top: 25%;
    color: #666666;
    font-size: 0.9em;
}

.logo span {
    padding-left: 0.1em;
    padding-right: 0.3em;
    font-size: 3.75em;
    color: #ffffff;
}

.slideBar>ul>li {
    background-color: #272727;
    padding: 0.4375em 0.625em;
}

/* Banner */

.banner {
    padding: 0 16.7%;
    color: #ffffff;
    display: flex;
    height: 60vh;
}

.banner .contentBanner-1 {
    display: block;
    width: 50%;
    height: 100%;
}


.banner .contentBanner-1 .contentBanner-1-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}

.banner .contentBanner-1-img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.contentBanner-1 .contentBanner-1-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 3;
    padding: 10%;
}

.contentBanner-1 .contentBanner-1-hover>hr {
    margin-bottom: 1em;
    width: 80px;
    border-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 0.5px;
}

.contentBanner-1 .contentBanner-1-hover>h3 {
    line-height: 1.7em;
}

.contentBanner-1 .contentBanner-1-hover>.day {
    padding: 10px 0;
    font-size: 0.6em;

}

.banner .btnBanner {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Merriweather', serif;
    color: #ffffff;
    border: #ffffff solid 1px;
    padding: 0.72em 1.8em;
    margin-top: 1em;
}

.contentBanner-2 {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.banner .contentBanner-2 {
    width: 50%;
    height: 100%;
}
.setting-fixed{
    position: fixed;
    top: 35px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}
.setting-fixed i{
    padding: 7px 0 0 7px;
}
.contentBanner-2 .contentBanner-2-img {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
}

.contentBanner-2 .contentBanner-2-img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBanner-2 .contentBanner-2-img>.contentBanner-2-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    padding: 10%;
}

.contentBanner-2 .contentBanner-2-hover>hr {
    margin-bottom: 0.4em;
    width: 80px;
    border-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 0.5px;
}

.contentBanner-2 .contentBanner-2-hover>h3 {
    line-height: 1.3em;
}

.contentBanner-2 .contentBanner-2-hover>.day {
    padding: 10px 0;
    font-size: 0.6em;

}

.contentBanner-2 .contentBanner-2-text {
    background-color: #383838;
    padding: 7.3%;
    height: 100%;
    width: 100%;
}

.contentBanner-2-text hr {
    margin-bottom: 0.7em;
    width: 80px;
    border-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 0.5px;
}

.contentBanner-2-text h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.contentBanner-2-text .day {
    padding: 10px 0;
    font-size: 0.6em;
}

.contentBanner-2-text .text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #5d5d5d;
    font-size: 0.7em;
}

/* Content */

.content {
    display: flex;
    padding: 0px 20% 0 20%;
}

.content .mainContent {
    width: 60%;
}

.mainContent img {
    width: 100%;
}

.mainContent .mainContent-1 {
    padding-bottom: 1em;
    margin-bottom: 2em;
    background-color: #ffffff;
    color: #555555;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.mainContent-1 i {
    padding: 40px 0 10px 40px;
}

.mainContent-1>hr {
    width: 50px;
    margin-left: 40px;
    border-color: rgb(214, 214, 214);
    border: rgb(214, 214, 214) solid 0.5px;
}

.mainContent-1 h3 {
    padding: 20px 40px;

}

.mainContent-1 p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #5d5d5d;
    font-size: 0.7em;
    padding: 20px 40px 0px 40px;
}

.mainContent-1 .note {
    display: flex;
    margin-left: 40px;
    font-size: 0.6em;

}

.mainContent-1 .magnify {
    text-align: center;
    font-size: 3.2em;
    line-height: 30px;
    color: #555555;
    float: left;
    margin: 13px 12px 0 0;
    padding: 0;
}

.note span {
    margin-right: 1.3em;
    margin-bottom: 3em;
    color: rgba(93, 93, 93, 0.5);
    font-size: 0.8em;
}

.interact {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}

.interact-ul {
    position: relative;
    width: 100%;
    margin-left: 40px;
}

.interact-ul ul {
    position: absolute;
    display: flex;
}

.interact-ul>hr {
    position: absolute;
    top: 55%;
    width: 100%;
    z-index: 0;
    border-color: rgb(231, 231, 231);
    border: rgb(231, 231, 231) solid 0.5px;

}

.interact-ul li {
    /* position: absolute;
    z-index: 1; */
    list-style: none;
    padding-right: 10px;
}

.interact li i {
    color: rgb(231, 231, 231);
    border: rgb(231, 231, 231) solid 1px;
    padding: 7px;
    border-radius: 50%;
    font-size: 0.8em;
    background-color: #ffffff;
}

.interact-btn {
    margin-right: 40px;
}

.interact-btn button {
    color: #ffffff;
    background-color: #ec5954;
    font-size: 0.4em;
    width: 100px;
    height: 20px;
    border: none;

}

.maiContent-famousQuote {
    width: 100%;
    background-color: rgb(46 49 53);
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
}

.maiContent-famousQuote i {
    font-size: 1em;
    padding-bottom: 10px;
}

.maiContent-famousQuote p {
    color: #ffffff;
    font-size: 0.7em;
    line-height: 15px;

}

.maiContent-famousQuote span {
    color: rgb(126 126 126);
    font-size: 0.7em;
}

.mainContent-URL {
    position: relative;
    width: 100%;
    height: 20vh;
    background-image: url(./assets/featured3.jpg);
    background-color: rgb(46 49 53);
    text-align: center;
    padding: 40px 50px;
    object-fit: cover;
    margin-bottom: 30px;
    filter: grayscale(20%);
}

.mainContent-URL .mainContent-URL-child {
    width: 100%;
    top: 24%;
    left: 0;
    position: absolute;
    z-index: 2;
}

.mainContent-URL i {
    font-size: 1.5 em;
    padding-bottom: 10px;
}

.mainContent-URL p {
    align-items: center;
    color: #ffffff;
    font-size: 1.1em;
}

.mainContent-URL .mainContent-URL-coating {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.mainContent-1 .text-between {
    color: rgb(161 161 161);
    font-size: 1em;
    text-align: center;
}

.content .mainContent-2 {
    width: 40%;
    padding-left: 40px;
    color: #555555;

}

.categories h3 {
    color: #555555;
    text-align: center;
    padding-top: 14px;
}

.categoriesList ul {
    padding-top: 40px;
}

.categoriesList ul li {
    padding: 16px 7px;
    list-style: none;
    font-size: 0.8em;
}

.categoriesList span {
    float: right;
    color: #ec5954;
}

.popular {
}

.popular h3 {
    text-align: center;
}

.popular .popularChild-1 {
    display: flex;
}

.popularChild-1 .popularChild-1-text {
    padding-left: 16px;
}

.popularChild-1 .popularChild-1-text h5 {
    line-height: 20px;
    padding-bottom: 20px;
}

.popularChild-1 .popularChild-1-text p {
    color: #ec5954;
    font-size: 0.6em;
}

.popular hr {
    width: 100%;
    margin: 20px 0;
    border-color: rgb(212, 212, 212);
    border: rgb(212, 212, 212) solid 0.5px;
}

.tags {
    padding-top: 40px;
}

.tags h3 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tags-span {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;

    .span-child {
        color: #5d5d5d;
        margin: 20px 10px 0 0;
        padding: 6px 10px;
        background-color: #ffffff;
        vertical-align: baseline;
    }

    .span-child a {
        text-decoration: none;
        color: rgba(93, 93, 93, 0.5);
        font-size: 0.6em;
    }
    .span-child:hover {
        background-color: rgb(236, 89, 84,0.7);
    }
}

.entries {
    display: flex;
    justify-content: space-between;
}

.entries .older {
    display: flex;
}
.older-a{
    padding-top: 9px;
}
.older-a a {
    display: block;
    padding: 8px 10px 8px 56px;
    background-color: #272727;
}

.older-p {
    padding-left: 10px;
}

.older-p span {
    font-size: 0.4em;
    color: rgb(161 161 161)
}

.entries .newer {
    display: flex;
}
.newer-a{
    padding-top: 9px;
}
.newer-a a {
    display: block;
    padding: 8px 10px 8px 56px;
    background-color: #272727;
}

.newer-p {
    padding-right: 10px;
}

.newer-p span {
    font-size: 0.4em;
    color: rgb(161 161 161)
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #272727;
}

.mediaIconFooter,
.footer>.logoFooter {
    display: flex;
    padding-top: 50px;
    justify-content: center;

}
.mediaIconFooter{
    padding-bottom: 50px;
}
.logoFooter .backgroundLogo {
    position: relative;
}

.logoFooter span {
    position: absolute;
    color: #ebebeb;
    left: 0;
    top: 30px;
    z-index: 30;
    font-size: 3.75em;
}
.mediaIconFooter ul{
    display: flex;
    padding-left: 36px;
}
.mediaIconFooter ul li{
    list-style: none;
    padding-right: 43px;
}