* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Merriweather', serif;
    background-color: var(--white-10);
}

.container {
    max-width: 1024px;
    margin: auto;
}

/* Header */

.header .header-items {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.header .slideBar,
.header .mediaIcon {
    display: flex;
    align-items: center;
}

.header .slideBar ul,
.header .mediaIcon ul {
    display: flex;
    padding-top: 0.9rem;
}

.header .mediaIcon {
    padding-left: 3.2rem;
}

.header .mediaIcon li {
    list-style: none;
    margin-left: 2rem;
}


.header .mediaIcon i {
    color: var(--black-70);
    font-size: 1.3rem;
}

.header .slideBar {
    padding-right: 3.2em;
}

/* đặt biến */
.header .slideBar ul li {
    background-color: var(--black-90);
    padding: 0.8rem 1.6rem;
    list-style: none;
    margin-left: 5px;
}

.header .slideBar i {
    font-size: 1rem;
    color: var(--white-100);
}

.header .logo {
    position: relative;
    width: 35rem;
    height: auto;
}

.header .logo img {
    width: 14rem;
}

.header .logo p {
    position: absolute;
    top: 3.1rem;
    left: 0.5rem;
    color: var(--white-20);
    font-size: 1.4rem;
}

.header .logo span {
    padding-right: 1rem;
    font-size: 5.4rem;
    color: var(--white-100);
}


/* Banner */


.banner .banner-items {
    color: var(--white-100);
    display: flex;
    height: 50rem;
}

.banner .banner-items .contentBanner-left {
    display: block;
    width: 50%;
    height: 100%;
}


.banner-items .contentBanner-left .contentBanner-left-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}

.banner-items .contentBanner-left .contentBanner-left-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.banner .banner-items .contentBanner-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.banner .banner-items .contentBanner-right .contentBanner-right-img {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
}

.banner .banner-items .contentBanner-right .contentBanner-right-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .banner-items .contentBanner-right .contentBanner-right-text {
    background-color: var(--black-90);
    padding: 6rem;
    height: 50%;
    width: 100%;
}


.banner .banner-items .contentBanner-right-text .text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.6rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--white-20);
    font-size: 1rem;
}

/* Content */

.content-item {
    display: flex;
    padding: 0 6rem;
}

.content-item .blog {
    width: 70%;
}

.content-item .blog .blog-item iframe {
    padding-bottom: 5rem;
}

.content-item .blog-item-famousQuote {
    width: 100%;
    background-color: var(--black-90);
    text-align: center;
    padding: 5rem 4rem 5rem 4rem;
    margin-bottom: 2rem;
}

.content-item .blog-item-famousQuote i {
    padding-bottom: 16px;
    font-size: 2.2em;
    color: var(--black-60);
}

.content-item .blog-item-famousQuote p {
    color: var(--white-100);
    font-size: 1.5rem;
    line-height: 3rem;
    padding-bottom: 2.5rem;
}

.content-item .blog-item-famousQuote span {
    color: var(--black-60);
    font-size: 1.5rem;
}

.content-item #below,
.content-item #above {
    width: 115px;
    margin: 25px 41%;
}

.content-item .blog-item-URL {
    position: relative;
    width: 100%;
    height: 20vh;
    background-image: url(./assets/featured3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}

.content-item .blog-item-URL i {
    font-size: 1.6rem;
    padding-bottom: 1.7rem;
    color: var(--black-40);
}

.content-item .blog-item-URL p {
    /* align-items: center; */
    color: var(--white-10);
    font-size: 1.7em;
}

.content-item .blog-item-URL .blog-item-URL-coating {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-100-opacity-44);
}

.content-item .blog-item-URL-coating .blog-item-URL-coating-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-item .URL-p {
    text-align: center;
}

.content-item .blog-item #text-between {
    color: var(--black-40);
    font-size: 1.7rem;
    text-align: center;
    padding-top: 0;
}

.content-item .blog-item .text-end {
    padding-top: 0;

}

.blog .blog-item-entries {
    display: flex;
    justify-content: space-between;
}

.blog .blog-item-entries .older {
    display: flex;
    align-items: center;
}

.blog .blog-item-entries .older-a {
    padding-top: 0.7rem;

}

.blog .blog-item-entries .older-a a {
    display: block;
    padding: 0.8rem 1rem 0.8rem 5.6rem;
    background-color: var(--black-90);
}

.blog .blog-item-entries .older-a a i {
    color: #ffffff;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.blog .blog-item-entries .older-p {
    padding-left: 1rem;
}

.blog .blog-item-entries .older-p span {
    font-size: 0.8rem;
    color: var(--black-40);
}

.blog .blog-item-entries .older-p p {
    font-size: 1.5em;

}

.blog .blog-item-entries .newer {
    display: flex;
    align-items: center;
}

.blog .blog-item-entries .newer-a {
    padding-top: 0.7rem;
}

.blog .blog-item-entries .newer-a a {
    display: block;
    padding: 0.8rem 1rem 0.8rem 5.6rem;
    background-color: var(--black-90);
}

.blog .blog-item-entries .newer-a a i {
    color: var(--white-100);
    font-size: 0.8rem;
    padding-bottom: 0.5rem;

}

.blog .blog-item-entries .newer-p {
    padding-right: 1rem;

}

.blog .blog-item-entries .newer-p span {
    font-size: 0.8rem;
    color: var(--black-40);
}

.blog .blog-item-entries .newer-p p {
    font-size: 1.5rem;

}

/* mai làm */
.content-item .blog-list {
    width: 35%;
    padding-left: 3.4rem;
    color: var(--black-60);

}

.blog-list .blog-list-categories h2 {
    color: var(--black-60);
    text-align: center;
    padding-top: 1.4rem;
}

.blog-list .blog-list-categories .categories-hr {
    display: flex;
    justify-content: center;
}

.blog-list .blog-list-categories hr {
    margin-top: 4rem;
    width: 8.2rem;
    height: 0.1rem;
    border: none;
    background: rgb(214, 214, 214);
}

.blog-list .blog-list-popular h2 {
    text-align: center;
    margin-bottom: 3.4rem;
}

.blog-list .blog-list-popular .popular-hr {
    display: flex;
    justify-content: center;
}

.blog-list .blog-list-popular .popular-hr hr {
    margin-top: 4.8rem;
    width: 8.8rem;
    height: 0.1rem;
    border: none;
    background: var(--black-10);
}

.blog-list .blog-list-tags {
    padding-top: 4rem;
}

.blog-list .blog-list-tags h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.blog-list .blog-list-tags .tags-hr {
    display: flex;
    justify-content: center;
}

.blog-list .blog-list-tags .tags-hr hr {
    margin-top: 4rem;
    width: 8rem;
    height: 0.1rem;
    border: none;
    background: var(--black-10);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 5.1rem;
    padding-bottom: 5rem;
    background-color: var(--black-90);
}

.footer .footer-item .mediaIconFooter,
.footer .footer-item .logoFooter {
    display: flex;
    padding-top: 6rem;
    justify-content: center;

}

.footer .footer-item .mediaIconFooter {
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.footer .footer-item .mediaIconFooter i {
    font-size: 1.7rem;
    color: var(--black-40);
}

.footer .footer-item .mediaIconFooter ul {
    display: flex;
    padding-left: 3.6rem;
}

.footer .footer-item .mediaIconFooter ul li {
    list-style: none;
    padding-right: 3rem;
}

.footer .footer-item .logoFooter .backgroundLogo {
    position: relative;
}

.footer .footer-item .backgroundLogo img {
    width: 12rem;
    height: 10.4rem;
}

.footer .footer-item .logoFooter span {
    position: absolute;
    color: var(--white-10);
    left: 0.5rem;
    top: 3rem;
    z-index: 30;
    font-size: 4.3rem;
}

.footer .footer-item .infoDesigner p {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    color: var(--white-20);
    font-size: 1.3rem;
}

/* setting */
.setting-fixed {
    position: fixed;
    top: 4.4rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--white-100);
}

.setting-fixed i {
    padding: 1.3rem 0 0 1.2rem;
    font-size: 2em;
    color: var(--red-50);
}

/* comeBack */
.comeBack {
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
}

.comeBack i {
    color: var(--white-100-opacity-80);
    padding: 2rem 2.1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: var(--red-70);
    border: none
}